header {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: #d6d6f5;
}

#branding {
    padding: 20px 40px;
    text-align: center;
}

#imagecol {
    width: 40%;
}

.contentColumn {
    padding-right: 20px;
}

#imagecol > img {
    width: 100%;
}

#testimonials {
    width: 35%;
}

#testimonials > p:nth-child(even) {
    background-color: #8585e0;
}

hr {
    border-width: 5px;
    border-style: solid;
    color: green;
}

.verticalLine {
    border-right: thick solid green;
  }

  a:hover {
    text-decoration: none;
    color: green;
  }

  .sidebarButton {
      border: 2px solid;
      background-color: #d6d6f5;
      padding: 15px;
      font-size: 24px;
  }