header {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;
}

#branding {
    color: green;
    border: 5px solid green;
    padding: 20px 40px;
}

#imagecol {
    width: 45%;
}

#testimonials {
    width: 35%;
}