header {
    display: flex;
    justify-content: space-between;
    background-color: #778486;
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: #D8B188;
}

#branding {
    padding: 20px 40px;
    text-align: center;
}

#imagecol {
    width: 60%;
    margin: 8px;
}

.contentColumn {
    padding-right: 20px;
}

.headerimg > img {
    margin-top: 90px;
    height: 100%;
    width: auto;
}

.headerimg > p {
    font-size: 12px;
    padding-bottom: 5px;
    text-align: center;
}

.headerimg {
    height: 150px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#imagecol > img {
    width: 100%;
}

#testimonials {
    width: 45%;
}

#testimonials > p:nth-child(even) {
    background-color: #9D886D;
}

#testimonials > p {
    border: 2px solid #282924;
    padding: 5px;
}

#imagecol > p {
    text-align: center;
    font-size: 12px;
}

hr {
    border-width: 5px;
    border-style: solid;
    color: #282924;
    margin: 0px;
}

.verticalLine {
    height: 100%;
    border-right: 3px solid #282924;
  }

  a:hover {
    text-decoration: none;
    color: #505247;
  }

  .sidebarButton {
      border: 2px solid #282924;
      background-color: #9D886D;
      padding: 15px;
      font-size: 24px;
      width: 50%;
      margin: 5px;
  }

  button:hover {
    background-color: #505247;
  }

  .buttonContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #links {
      padding: 8px;
  }